@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

#app {
  font-family: 'Space Mono';
}

:root {
  --primary-50: rgb(238, 242, 255);
  --primary-100: rgb(224, 231, 255);
  --primary-200: rgb(199, 210, 254);
  --primary-300: rgb(165, 180, 252);
  --primary-400: rgb(129, 140, 248);
  --primary-500: rgb(99, 102, 241);
  --primary-600: rgb(79, 70, 229);
  --primary-700: rgb(67, 56, 202);
  --primary-800: rgb(55, 48, 163);
  --primary-900: rgb(49, 46, 129);
  --primary-950: rgb(30, 27, 75);
}
body {
  color: var(
    --text-color,
    rgb(75 85 99 / var(--tw-text-opacity, 1))
  ); /* #4b5563 */
}

span .title {
  color: var(--text-color, inherit);
}
